#login{
    position: absolute;
    top:200px;
    left: 200px;
    
}
.auth-login{
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    font: bold 14px sans-serif;
    text-align: center;
}

.auth-log-in-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    text-align: center;
   
}
.centro{
   margin-left: 150px;
}


.auth-log-in-with-email .auth-white-background{
    width: 700px;
    /*box-sizing: border-box; */
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 80px;
    margin-bottom: 32px;
}

.auth-log-in-with-email .auth-row{
    text-align: left;
    margin-bottom: 23px;
    width: 100%;
   
}

.auth-log-in-with-email .auth-title-row{
    text-align: center;
    margin-bottom: 60px;
}

.auth-log-in-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 30px 15px;
    border-bottom: 2px solid #6caee0;
    margin:0;
}

.auth-log-in-with-email .auth-row > label span{
    display: inline-block;
    /* box-sizing: border-box; /
    / color: #5f5f5f; /
    / width: 125px; /
    / text-align: right; */
    padding-right: 25px;
}

.auth-log-in-with-email label input {
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.auth-log-in-with-email button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.auth-log-in-with-email .auth-forgotten-password,
.auth-log-in-with-email .auth-create-an-account{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
}

.auth-log-in-with-email .auth-forgotten-password{
    color:  #4e9eda;
}

.auth-log-in-with-email .auth-create-an-account{
    color:  #7b9d62;
    background-color: #d6f0c3;
}



.auth-sign-in-with-social{
    display: inline-block;
    max-width: 180px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin-top: 70px;
}

.auth-sign-in-with-social .auth-title-row{
    margin-bottom: 50px;
}

.auth-sign-in-with-social .auth-title{
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 15px 20px;
    border-bottom: 2px solid #6caee0;
}

.auth-sign-in-with-social .auth-google-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(222, 110, 60, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.auth-sign-in-with-social .auth-facebook-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(75, 136, 194, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.auth-sign-in-with-social .auth-twitter-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(123, 195, 226, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

/*	Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {

    .auth-login{
        margin: 20px auto;
    }

    .auth-log-in-with-email{
        position: relative;
        display: block;
        margin: 0 0 50px;
    }

    .auth-log-in-with-email .auth-white-background{
        margin: 0 auto 32px;
    }

    .auth-log-in-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .auth-sign-in-with-social{
        margin-top: 60px;
    }

}

@media (max-width: 600px) {

    .auth-log-in-with-email .auth-white-background{
        width: 300px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .auth-log-in-with-email .auth-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 10px;
    }

    .auth-log-in-with-email .auth-email,
    .auth-log-in-with-email .auth-password{
        display: block;
        margin: 0 auto;
    }

    .auth-log-in-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .auth-log-in-with-email .auth-forgotten-password,
    .auth-log-in-with-email .auth-create-an-account{
        display: block;
        margin: 5px auto;
        max-width: 180px;
    }

}


/*REGISTER*/





#register{
    position: absolute;
    top:100px;
    left: 200px; 
}

.auth-register{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font: bold 14px sans-serif;
    text-align: center;

}

.auth-register-with-email{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
    text-align: center;
}

.auth-register-with-email .auth-white-background{
    height: 600px;
    width: 700px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 80px;
    margin-bottom: 0px;
}

.botao{
    margin-top: -30px;
    
}


.auth-register-with-email .auth-row{
    text-align: left;
    margin-bottom: 23px;
}

.auth-register-with-email .auth-title-row{
    text-align: center;
    margin-bottom: 50px;
}

.auth-register-with-email h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 20px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.auth-register-with-email .auth-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 125px;
    text-align: right;
    padding-right: 25px;
}

.auth-register-with-email input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.auth-register-with-email .auth-checkbox input{
    margin-left: 128px;
    margin-right: 10px;
    width: auto;
    vertical-align: top;
}

.auth-register-with-email .auth-row .auth-checkbox span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
    width: 220px;
    margin: 0;
}

.auth-register-with-email .auth-checkbox span a{
    text-decoration: none;
    color:  #6caee0;
}

.auth-register-with-email button{
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 55px auto 0;
    cursor: pointer;
}

.auth-register-with-email .auth-log-in-with-existing{
    text-decoration: none;
    padding: 4px 8px;
    font-weight: normal;
    color: #7b9d62;
    background-color: #d6f0c3;
}

.auth-sign-in-with-social{
    display: inline-block;
    max-width: 180px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin-top: 120px;
    position: relative;
    right: 210px;
}

.auth-sign-in-with-social .auth-title-row{
    margin-bottom: 50px;
}

.auth-sign-in-with-social .auth-title{
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 15px 20px;
    border-bottom: 2px solid #6caee0;
}

.auth-sign-in-with-social .auth-google-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(222, 110, 60, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.auth-sign-in-with-social .auth-facebook-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(117, 117, 117, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

.auth-sign-in-with-social .auth-twitter-button{
    color:  #ffffff;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background-color:  rgba(117, 117, 117, 0.9);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 8px auto;
    text-decoration: none;
}

/*	Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {

    .auth-register{
        margin: 20px auto;
    }

    .auth-register-with-email{
        position: relative;
        display: block;
        margin: 0;
    }

    .auth-register-with-email .auth-white-background{
        margin: 0 auto 32px;
    }

    .auth-register-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

    .auth-sign-in-with-social {
        margin-top: 105px; 
    position: relative;
    bottom: 600px;
    left: 200px;
    }

}

@media (max-width: 600px) {

    .auth-register-with-email .auth-white-background{
        width: 300px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .auth-register-with-email .auth-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 10px;
    }

    .auth-register-with-email input{
        display: block;
        margin: 0 auto;
    }

    .auth-register-with-email .auth-checkbox input{
        display: inline-block;
        margin-left: 0;
    }

    .auth-register-with-email .auth-checkbox span{
        width: 200px !important;
    }

    .auth-register-with-email:after{
        bottom: -80px;
        left: 50%;
        margin-left: -25px;
    }

}



/*/


/* BASIC */

html {
    background-color: #56baed;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    

  }

  .bd{
    background-image: url('/images/background/login.png');
   margin-left: -1px;
   margin-top: 0px;
  }
  
  .register{
    background-image: url('/images/background/registrar.png');
   margin-left: 0px;
   margin-top: 0px;
  }
  

  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding-top: 50px;
    padding-left: 100px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    height: 600px;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #e6e6e6;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;

  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }

  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:40%;
}