

/*
 Navbar
    */

.navbar {
margin-bottom: 0;
border-radius: 0;
background-color: white;
color: #fff;
padding: 1% 0 ;
font-size: 1.2em;
border: 0;

}

.navbar-brand {
float: left;
min-height: 55px;
padding: 0 15px 5px;
}