

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

/*
 Navbar
    */

#navbar {
  background: white;
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar li a {
  padding-bottom: 0, 0 ,10px ,10px;
  text-align: center;
  font-size: 23px;
  -webkit-box-shadow: 0 0px 3px 0px #999;
    -moz-box-shadow: 0 0px 3px 0px #999;
    box-shadow: 0 0px 3px 0px #999;
}