* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  /*
 Navbar
    */
  #navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: top;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
  }

 