

#hero {
  height: 590px;
  overflow: auto;
  position: relative;
}

#content {
  background-color: #ffffff;
  height:100%;
}
 

.layer {
  background-position: bottom center;
  background-size: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.text-header {
  font-size: 50px ;
  text-align : center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: black;
  font-size: 18px;
  line-height: 150%;
}

.layer-bg {
  background-image: url("/images/fundo_prontoR (1).png");

}

.layer-1 {
  background-image: url("/images/elementosfundoprontogrande.png");

}

.layer-2 {
  background-image: url("/images/outrasilhasprontogrande.png");  
  max-width: 100%;
}


.layer-3 {
  background-image: url("/images/ilha1prontagrande.png");
  margin-top: -10px;
}

.layer-4 {
  background-image: url("/images/nuvens.png");
  margin-top: 10px;
}

@media only screen and (min-width: 576px) {
  #hero {
    display: block;
    height: 660px;
    overflow: auto;
    position: relative;
  }

  #hero-mobile {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  #hero {
    display: block;
    height: 890px;
    overflow: auto;
    position: relative;
  }

  #hero-mobile {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  #hero {
    display: block;
    height: 890px;
    overflow: auto;
    position: relative;
  }

  #hero-mobile {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  #hero {
    display: block;
    height: 890px;
    overflow: auto;
    position: relative;
  }

  #hero-mobile {
    display: block;
  }
}