body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#hero {
  height: 500px;
  overflow: auto;
  position: relative;
}

#content {
  background-color: #ffffff;
  height:600px;

}
 

.layer {
  background-position: bottom center;
  background-size: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.first-section {
  padding: 30px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#hero, .layer {
  min-height: 800px;
}

.layer-bg {
  background-image: url("../../images/fundo_prontoR (1).png");
  margin-top: 0px;
}

.layer-1 {
  background-image: url("../../images/elementosfundoprontogrande.png");
  background-position: left bottom;
  margin-top: 10px;

}

.layer-2 {
  background-image: url("../../images/outrasilhasprontogrande.png");
   margin-top: -20px;
   
}

.layer-3 {
  background-image: url("../../images/ilha1prontagrande.png");
  margin-top: -10px;
   width: 100%;
   height: 100%;
 
}

.layer-4 {
  background-image: url("../../images/nuvens.png");
  margin-top: 10px;
}



@media only screen and (max-width: 1200px) {
  #hero {
    display: block;
  }

  #hero-mobile {
    display: block;
  }
}
.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}
.tutorial-link:hover {
  color: #ede0d5;
}


