/*Home*/

body {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
section {
  padding: 70px 0;
}
* {
  margin: 0;
  padding: 0;
}

header {
  margin: auto;
  margin-top: 50px;
  width: 400px;
  height: 90px;
  background-color: #176d81;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  text-align: center;
}
strong {
  font-weight: 500;
}
a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

img {
  max-width: 100%;
}
fieldset {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  width: 300px;
  height: 66px;
  border-radius: 10px;
  color: white;
  border: 1px dashed;
}

legend {
  padding: 0.2em 0.5em;
}

span {
  color: white;
}
.header {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.emailr{
  background-image: url('/images/124.jpg');
}
/*/Home*/
/*Footer*/
#Footer {
  background-color: #0b5192;
  color: white;
  padding-top: 2px;
}

#Footer .footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#Footer .row {
  margin-bottom: 60px;
}

#Footer .navbar-brand {
  margin-top: 45px;
  height: 65px;
}

#Footer .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#Footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#Footer h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#Footer h2 a {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

#Footer a {
  color: #d2d1d1;
  text-decoration: none;
}

#Footer a:hover,
#Footer a:focus {
  text-decoration: none;
  color: white;
}

#Footer .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

#Footer .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#Footer .social-networks a:hover {
  text-decoration: none;
}

#Footer .facebook:hover {
  color: #0077e2;
}

#Footer .google:hover {
  color: #ef1a1a;
}

#Footer .twitter:hover {
  color: #00aced;
}

#Footer .btn {
  color: white;
  background-color: #d84b6b;
  border-radius: 20px;
  border: none;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  #Footer {
    text-align: center;
  }
}
/*/Footer/

/*Style contato*/


::-moz-selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #d619e7;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
  outline: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
/*Contact*/
.inner-bg {
  padding: 100px 0 50px 0;
}

.top-content .text {
  color: rgb(172, 62, 62);
}

.top-content .text h1 {
  color: #fff;
}

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description a {
  color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.top-content .top-big-link {
  margin-top: 35px;
}

.form-box {
  padding-top: 40px;
}
.form-top-left {
  float: left;
  width: 100%;
  padding-top: 25px;
}

.form-top-left h3 {
  margin-top: 0;
  color: #fff;
}

.form-top-left p {
  opacity: 0.8;
  color: #fff;
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.form-bottom {
  padding: 25px 60px 30px 25px;
  background: rgba(36, 35, 35, 0.514);
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form .input-error {
  border-color: #19b9e7;
}

.form-bottom p {
  opacity: 0.8;
  color: #fff;
}

input[type="text"],
textarea,
textarea.form-control {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #fff;
  border: 3px solid #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

textarea,
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
  outline: 0;
  background: #fff;
  border: 3px solid #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder {
  color: #888;
}

input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: #888;
}

input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: #888;
}

button.btn {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #196deb96;
  border: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  
}

button.btn:hover {
  opacity: 0.6;
  color: #fff;
}

button.btn:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.btn:focus {
  outline: 0;
  opacity: 0.6;
  background: #fff;
  color: #fff;
}

button.btn:active:focus,
button.btn.active:focus {
  outline: 0;
  opacity: 0.6;
  background: #19b9e7;
  color: #fff;
}

.btn4 {
    /* border-radius: 50px; */
    text-transform: capitalize;
    color: #FFF;
    border: none;
    font-size: 18px;
    padding: 20px 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
/*/Contact*/
/*Header*/
.meio {
  width: 100%;
  height: 100%;
  background:
    url('../../images/rochas2.png')no-repeat;

}
.header1{
  width: 100%;
  height: 100%;
}
.ilha1 {
  background-image: url('/images/ilha1p.png');
  width: 259px;
  height: 194px;
}

.ilha2 {
  background-image: url('/images/ilha2p.png');
  width: 259px;
  height: 194px;
}

.ilha3 {
  background-image: url('/images/ilha3p.png');
  width: 259px;
  height: 194px;
}

.trofeu {
  background-image: url("../../images/TROFÉU.png")no-repeat;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
.stars{
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(107,107,107,1) 47%, rgba(5,5,5,1) 78%, rgba(5,5,5,1) 100%);
}


  .space{
    margin-top: 20%;
  }
#team .card {
  border: none;
  background: #ffffff;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.letra {
  color: #fff;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.teste {
  margin-top: 70px;
  margin-left: 100px;
}

.men {
  margin-top: -50px;
}

.fundoct {
  background-color: #00aced;
}



.form {
  margin: auto;
  width: 400px;
  height: 440px;
  background-color: #71adb5;
  text-align: center;
  border-top: 1px solid #71adb5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sign {
  padding-top: 15px;
  color: white;
  font-size: 55px;
}

.user,
.email,
.password {
  display: block;
  height: 30px;
  width: 280px;
  margin: 40px auto;
  border: 0;
  border-radius: 10px;
  outline: 0;
}

.password {
  margin-bottom: 0;
}

[placeholder] {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 10px;
}

.uicon {
  position: absolute;
  margin-top: 47px;
  margin-left: 100px;
  color: #176d81;
}

.eicon {
  position: absolute;
  margin-top: 6px;
  margin-left: 100px;
  color: #176d81;
}

.picon {
  position: absolute;
  margin-top: 6px;
  margin-left: 103px;
  color: #176d81;
}

.micon,
.ficon {
  color: white;
  margin-left: 10px;
}

.gen1 {
  margin-left: 5px;
  margin-right: 80px;
}

.gen2 {
  margin-left: 5px;
}



.submit {
  color: #0d3446;
  font-size: 26px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  border: 0;
  background-color: #176d81;
  font-family: 'Ubuntu', sans-serif;
}

/*LETRA HOME ROBO*/
.content {
  position: relative;
  /* top: 25%; */
  /* left: 50%; */
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  height: 60px;
  overflow: hidden; 
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #05a1ac;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 3px 60px;
}

.content__container:before {
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #19c4a1;
  font-size: 55px;
  /* line-height: 60px; */
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  font-size: 35px;
  line-height: 40px;
  float: left;
  margin: 0px;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {

  0%,
  12.66%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  12.66%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}
#pathex{
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.90), rgba(252, 227, 138, 0.90));
}
#svg1 {
  margin-top: 10%;
  width: 100%;
  height: 400px;

}

#triRight {
  animation: float 3.1s ease-in-out forwards;
  animation-iteration-count: infinite;
  box-shadow: 10px 10px 10px 10px black;
}

#triRightSmall {
  animation: float 3.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triLeft {
  animation: float 3.1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triLeftSmall {
  animation: float 3.4s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triMid {
  animation: float 2.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triMain {
  animation: float 3s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#computer,
#screen {
  animation: float 3s ease-in-out;
  animation-iteration-count: infinite;
}

#screen {
  fill: #g300;
}

#svg2 {
  margin-top: 10%;
  width: 100%;
  height: 400px;
}

#triRight2 {
  animation: float 3.1s ease-in-out forwards;
  animation-iteration-count: infinite;
  box-shadow: 10px 10px 10px 10px black;
}

#triRightSmall2 {
  animation: float 3.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triLeft2 {
  animation: float 3.1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triLeftSmall2 {
  animation: float 3.4s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triMid2 {
  animation: float 2.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triMain2 {
  animation: float 3s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#computer2,
#screen2 {
  animation: float 3s ease-in-out;
  animation-iteration-count: infinite;
}

#screen2 {
  fill: #g300;
}

#svg3 {
  margin-top: 10%;
  width: 100%;
  height: 400px;
}

#triRight3 {
  animation: float 3.1s ease-in-out forwards;
  animation-iteration-count: infinite;
  box-shadow: 10px 10px 10px 10px black;
}

#triRightSmall3 {
  animation: float 3.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triLeft3 {
  animation: float 3.1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triLeftSmall3 {
  animation: float 3.4s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triMid3 {
  animation: float 2.2s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#triMain3 {
  animation: float 3s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#computer3,
#screen3 {
  animation: float 3s ease-in-out;
  animation-iteration-count: infinite;
}

#screen3 {
  fill: #g300;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
/* navbar classi */

 
#svg-strong{
  position: relative;
}

/*CARD-CONTEUDO*/
.card-conteudo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 2px solid rgba(0, 0, 0, 0.125); */
  /* border-radius: 2.25rem; */
} 


.intro {
  background: #F45B69;
  padding: 100px 0;
}
.int-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
  border: 1px solid #E2E9ED;
}
.int-grid[data-column="1"] .int-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
}
.int-grid[data-column="2"] .int-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  flex-basis: 50%;
}
.int-grid[data-column="3"] .int-column {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  min-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.int-grid[data-column="4"] .int-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  flex-basis: 25%;
}
.int-grid[data-column="5"] .int-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  flex-basis: 20%;
}
.int-grid[data-column="6"] .int-column {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
  min-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.int-grid[data-column="7"] .int-column {
  width: 14.2857142857%;
  max-width: 14.2857142857%;
  min-width: 14.2857142857%;
  flex-basis: 14.2857142857%;
}
.int-grid[data-column="8"] .int-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  flex-basis: 12.5%;
}
.int-grid[data-column="9"] .int-column {
  width: 11.1111111111%;
  max-width: 11.1111111111%;
  min-width: 11.1111111111%;
  flex-basis: 11.1111111111%;
}
.int-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.int-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.int-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.int-column:hover .int-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .int-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .int-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.int-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
.int-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.int-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.int-user__name {
  color: #313435;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.int-user__title {
  color: #6F808A;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.int-social {
  margin: 0 0 -18px;
  opacity: 0;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.int-social__item {
  display: inline-block;
  margin: 0 10px;
}
.int-social__item a {
  display: block;
}
.int-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  transition: fill 0.2s ease;
}
.int-social__item svg:hover {
  fill: #788D96;
}


.start {
  width: 100%;
  height: 100%;
  position: relative;

}
#star {
  width: 1px;
  height: 1px;
  display: block;
  background: transparent;
  border-radius: 50%;
  box-shadow: 122px 389px #c00, 891px 83px #fff, 1005px 1066px #fff, 1256px 43px #fff, 1165px 1728px #fff, 1189px 1872px #fff, 1049px 143px #fff, 1534px 1976px #fff, 1608px 1479px #fff, 618px 434px #fff, 315px 423px #fff, 1141px 83px #fff, 1397px 3px #fff, 1668px 1270px #fff, 1990px 833px #fff, 1430px 577px #fff, 832px 1917px #fff, 99px 1448px #fff, 32px 1325px #fff, 980px 805px #fff, 20px 828px #fff, 1962px 943px #fff, 1996px 897px #fff, 1874px 1889px #fff, 1820px 313px #fff, 1255px 1080px #fff, 1064px 72px #fff, 1816px 1671px #fff, 11px 1694px #fff, 850px 1348px #fff, 219px 906px #fff, 703px 523px #fff, 96px 521px #fff, 470px 1329px #fff, 1300px 123px #fff, 733px 620px #fff, 590px 46px #fff, 92px 1003px #fff, 948px 1955px #fff, 1410px 541px #fff, 400px 600px #fff, 1624px 1761px #fff, 1708px 1777px #fff, 640px 1624px #fff, 821px 1559px #fff, 1268px 888px #fff, 1493px 1696px #fff, 1726px 1658px #fff, 900px 1635px #fff, 720px 1463px #fff, 598px 1350px #fff, 1286px 1705px #fff, 364px 1462px #fff, 1335px 171px #fff, 1170px 1066px #fff, 590px 1550px #fff, 704px 1539px #fff, 1921px 230px #fff, 1466px 128px #fff, 842px 812px #fff, 885px 801px #fff, 471px 1220px #fff, 1828px 265px #fff, 1195px 61px #fff, 1563px 81px #fff, 1110px 1984px #fff, 603px 1370px #fff, 426px 1953px #fff, 578px 1488px #fff, 962px 1362px #fff, 512px 1972px #fff, 36px 1994px #fff, 425px 1515px #fff, 1716px 1189px #fff, 1401px 1160px #fff, 1706px 268px #fff, 242px 1534px #fff, 1140px 1920px #fff, 842px 1521px #fff, 283px 1734px #fff, 589px 1251px #fff, 824px 1148px #fff, 1626px 122px #fff, 1735px 948px #fff, 477px 265px #fff, 1534px 1000px #fff, 1688px 586px #fff, 872px 394px #fff, 682px 42px #fff, 1734px 623px #fff, 1316px 1041px #fff, 32px 1653px #fff, 1347px 843px #fff, 37px 1831px #fff, 422px 1895px #fff, 945px 1656px #fff, 1852px 1894px #fff, 1245px 334px #fff, 1829px 1400px #fff, 807px 1090px #fff, 1003px 460px #fff, 584px 1582px #fff, 669px 546px #fff, 1059px 528px #fff, 89px 143px #fff, 431px 260px #fff, 97px 1926px #fff, 491px 703px #fff, 820px 1827px #fff, 1712px 897px #fff, 1610px 1439px #fff, 1599px 1849px #fff, 291px 914px #fff, 1394px 1718px #fff, 444px 56px #fff, 925px 37px #fff, 484px 1491px #fff, 1881px 1694px #fff, 430px 1818px #fff, 272px 871px #fff, 1982px 484px #fff, 632px 1388px #fff, 1779px 1911px #fff, 1813px 1592px #fff, 644px 1598px #fff, 27px 1520px #fff, 1066px 1925px #fff, 1264px 1320px #fff, 36px 1449px #fff, 1712px 1815px #fff, 256px 1164px #fff, 728px 143px #fff, 637px 788px #fff, 703px 1696px #fff, 808px 1506px #fff, 1952px 66px #fff, 1686px 984px #fff, 630px 389px #fff, 3px 905px #fff, 1563px 110px #fff, 1017px 930px #fff, 1863px 468px #fff, 1475px 436px #fff, 1127px 1597px #fff, 394px 386px #fff, 1198px 490px #fff, 1222px 1499px #fff, 1522px 266px #fff, 1073px 1781px #fff, 1293px 1387px #fff, 849px 1341px #fff, 1435px 1600px #fff, 286px 1578px #fff, 569px 1968px #fff, 779px 1127px #fff, 1669px 1335px #fff, 575px 1263px #fff, 1536px 1166px #fff, 1033px 1487px #fff, 1165px 704px #fff, 834px 1310px #fff, 741px 1908px #fff, 441px 878px #fff, 1199px 147px #fff, 1492px 104px #fff, 55px 583px #fff, 1830px 1259px #fff, 1705px 1444px #fff, 790px 1719px #fff, 776px 1357px #fff, 1873px 1460px #fff, 1015px 1649px #fff, 1126px 1789px #fff, 1986px 1680px #fff, 1946px 677px #fff, 1977px 1351px #fff, 803px 1156px #fff, 668px 1397px #fff, 999px 609px #fff, 853px 1241px #fff, 224px 329px #fff, 1950px 385px #fff, 1803px 1020px #fff, 277px 1201px #fff, 428px 1782px #fff, 746px 764px #fff, 406px 764px #fff, 37px 105px #fff, 169px 1102px #fff, 557px 251px #fff, 1517px 490px #fff, 1468px 788px #fff, 173px 358px #fff, 484px 800px #fff, 1216px 409px #fff, 1635px 1940px #fff, 1514px 1066px #fff, 371px 1658px #fff, 1520px 82px #fff, 692px 370px #fff, 569px 541px #fff, 1759px 795px #fff, 1919px 699px #fff, 1271px 1328px #fff, 1682px 857px #fff, 1478px 1217px #fff, 282px 1548px #fff, 163px 1248px #fff, 1478px 272px #fff, 87px 1878px #fff, 1049px 1048px #fff, 403px 1193px #fff, 589px 1178px #fff, 1887px 1984px #fff, 1763px 734px #fff, 1028px 1743px #fff, 1663px 1145px #fff, 380px 1867px #fff, 839px 1817px #fff, 1370px 1766px #fff, 495px 627px #fff, 477px 421px #fff, 1374px 43px #fff, 133px 351px #fff, 1167px 589px #fff, 77px 1894px #fff, 977px 1102px #fff, 745px 143px #fff, 460px 175px #fff, 775px 1177px #fff, 304px 1302px #fff, 284px 19px #fff, 1546px 1422px #fff, 1355px 1980px #fff, 387px 1279px #fff, 1077px 1550px #fff, 1696px 185px #fff, 1958px 1393px #fff, 71px 1751px #fff, 4px 1016px #fff, 997px 1204px #fff, 762px 441px #fff, 1766px 1091px #fff, 200px 1578px #fff, 675px 1455px #fff, 367px 1899px #fff, 1172px 1398px #fff, 1858px 1149px #fff, 709px 595px #fff, 1304px 1996px #fff, 970px 798px #fff, 1342px 1587px #fff, 1578px 11px #fff, 701px 1490px #fff, 1795px 302px #fff, 1035px 959px #fff, 443px 32px #fff, 1027px 308px #fff, 1736px 634px #fff, 1152px 940px #fff, 18px 1957px #fff, 1289px 1727px #fff, 1235px 1799px #fff, 848px 657px #fff, 1718px 1909px #fff, 1787px 1689px #fff, 1533px 828px #fff, 429px 1282px #fff, 1675px 1543px #fff, 1061px 1186px #fff, 1412px 604px #fff, 1644px 1967px #fff, 1124px 942px #fff, 736px 764px #fff, 78px 263px #fff, 1352px 1462px #fff, 1465px 676px #fff, 49px 602px #fff, 178px 1997px #fff, 869px 1501px #fff, 1245px 1831px #fff, 574px 44px #fff, 789px 1130px #fff, 1260px 1459px #fff, 1531px 1984px #fff, 781px 1294px #fff, 748px 854px #fff, 132px 1807px #fff, 1019px 752px #fff, 864px 1281px #fff, 1054px 936px #fff, 1866px 715px #fff, 1053px 644px #fff, 721px 94px #fff, 875px 1059px #fff, 1370px 333px #fff, 523px 823px #fff, 1799px 1762px #fff, 1145px 795px #fff, 480px 1192px #fff, 1346px 1196px #fff, 384px 534px #fff, 391px 920px #fff, 1360px 1005px #fff, 1556px 1327px #fff, 1024px 405px #fff, 1802px 1330px #fff, 66px 633px #fff, 77px 1091px #fff, 1001px 214px #fff, 541px 57px #fff, 132px 1186px #fff, 840px 319px #fff, 978px 606px #fff, 599px 1546px #fff, 774px 1432px #fff, 1534px 1774px #fff, 322px 1940px #fff, 1557px 620px #fff, 1409px 731px #fff, 7px 581px #fff, 1659px 367px #fff, 684px 211px #fff, 368px 1512px #fff, 356px 836px #fff, 911px 492px #fff, 1936px 1541px #fff, 1762px 827px #fff, 941px 269px #fff, 391px 570px #fff, 1387px 1110px #fff, 1444px 1181px #fff, 771px 1311px #fff, 1255px 1313px #fff, 1019px 118px #fff, 304px 610px #fff, 746px 1684px #fff, 1933px 1264px #fff, 939px 966px #fff, 538px 1913px #fff, 1165px 887px #fff, 1873px 876px #fff, 781px 1325px #fff, 793px 937px #fff, 1723px 291px #fff, 588px 926px #fff, 120px 594px #fff, 479px 1123px #fff, 867px 124px #fff, 1220px 1756px #fff, 819px 587px #fff, 159px 1584px #fff, 268px 407px #fff, 1909px 1802px #fff, 790px 1298px #fff, 1407px 1766px #fff, 1635px 77px #fff, 1801px 252px #fff, 1397px 1715px #fff, 1100px 792px #fff, 632px 1247px #fff, 476px 1160px #fff, 198px 1316px #fff, 666px 590px #fff, 171px 1796px #fff, 968px 649px #fff, 641px 809px #fff, 1925px 1518px #fff, 1306px 1646px #fff, 612px 1823px #fff, 928px 598px #fff, 28px 311px #fff, 808px 1292px #fff, 1358px 85px #fff, 1651px 809px #fff, 1053px 884px #fff, 1289px 1392px #fff, 745px 333px #fff, 822px 155px #fff, 1595px 382px #fff, 229px 308px #fff, 761px 46px #fff, 1820px 387px #fff, 1330px 1635px #fff, 605px 1754px #fff, 1104px 1170px #fff, 1600px 1314px #fff, 1766px 1924px #fff, 859px 2000px #fff, 47px 502px #fff, 1178px 218px #fff, 386px 664px #fff, 254px 875px #fff, 322px 641px #fff, 1608px 1578px #fff, 631px 416px #fff, 38px 1485px #fff, 999px 1390px #fff, 1957px 378px #fff, 1983px 885px #fff, 1098px 222px #fff, 1367px 124px #fff, 1370px 773px #fff, 169px 1131px #fff, 983px 973px #fff, 258px 547px #fff, 1540px 35px #fff, 1582px 1301px #fff, 93px 1625px #fff, 567px 503px #fff, 1523px 1102px #fff, 1992px 394px #fff, 579px 669px #fff, 1466px 537px #fff, 1202px 1353px #fff, 67px 1018px #fff, 201px 1107px #fff, 240px 631px #fff, 1557px 239px #fff, 1535px 574px #fff, 1551px 965px #fff, 1877px 1387px #fff, 1536px 1082px #fff, 1796px 1012px #fff, 1686px 142px #fff, 1567px 937px #fff, 280px 1775px #fff, 170px 1838px #fff, 59px 700px #fff, 909px 670px #fff, 1919px 623px #fff, 564px 1046px #fff, 837px 1430px #fff, 1997px 1769px #fff, 475px 430px #fff, 1563px 311px #fff, 256px 1054px #fff, 1440px 1644px #fff, 1957px 1917px #fff, 740px 1238px #fff, 378px 1655px #fff, 1112px 1396px #fff, 500px 785px #fff, 805px 379px #fff, 495px 1105px #fff, 882px 1448px #fff, 332px 1057px #fff, 614px 102px #fff, 192px 436px #fff, 1215px 1164px #fff, 378px 1388px #fff, 426px 545px #fff, 114px 1488px #fff, 791px 428px #fff, 706px 677px #fff, 862px 355px #fff, 1045px 1060px #fff, 1364px 964px #fff, 1204px 202px #fff, 1073px 1759px #fff, 346px 1178px #fff, 972px 525px #fff, 319px 1208px #fff, 1535px 1603px #fff, 1185px 1129px #fff, 1282px 265px #fff, 152px 1010px #fff, 660px 1871px #fff, 266px 1199px #fff, 367px 1083px #fff, 335px 1976px #fff, 1833px 924px #fff, 1026px 340px #fff, 220px 28px #fff, 330px 101px #fff, 177px 598px #fff, 1699px 1883px #fff, 1169px 666px #fff, 1471px 92px #fff, 369px 1220px #fff, 1464px 31px #fff, 944px 1339px #fff, 129px 57px #fff, 711px 1563px #fff, 734px 1295px #fff, 376px 150px #fff, 97px 1745px #fff, 1940px 939px #fff, 7px 1495px #fff, 310px 267px #fff, 1252px 1719px #fff, 1478px 1293px #fff, 1894px 286px #fff, 906px 1745px #fff, 474px 1591px #fff, 495px 1876px #fff, 802px 1684px #fff, 162px 1667px #fff, 344px 551px #fff, 990px 1571px #fff, 1003px 1715px #fff, 1259px 874px #fff, 1115px 571px #fff, 1597px 999px #fff, 1772px 1280px #fff, 1035px 1529px #fff, 792px 238px #fff, 1701px 769px #fff, 665px 993px #fff, 457px 772px #fff, 597px 1550px #fff, 408px 59px #fff, 1086px 1672px #fff, 545px 1704px #fff, 956px 1314px #fff, 1809px 1154px #fff, 1972px 769px #fff, 1841px 501px #fff, 1479px 395px #fff, 1880px 1827px #fff, 808px 1708px #fff, 1714px 1166px #fff, 1765px 1139px #fff, 533px 115px #fff, 590px 1903px #fff, 384px 1311px #fff, 1389px 1702px #fff, 1774px 1322px #fff, 1615px 1820px #fff, 44px 420px #fff, 349px 992px #fff, 1913px 1576px #fff, 1121px 1669px #fff, 1340px 1327px #fff, 1648px 1236px #fff, 240px 1917px #fff, 1260px 1672px #fff, 604px 1192px #fff, 162px 1579px #fff, 1164px 1652px #fff, 1235px 1509px #fff, 161px 100px #fff, 1645px 1587px #fff, 1757px 57px #fff, 405px 1055px #fff, 343px 442px #fff, 651px 930px #fff, 1923px 1957px #fff, 1164px 753px #fff, 795px 252px #fff, 1013px 923px #fff, 1835px 387px #fff, 1574px 1122px #fff, 1465px 1052px #fff, 1658px 1044px #fff, 990px 1708px #fff, 847px 433px #fff, 1966px 743px #fff, 1331px 817px #fff, 367px 988px #fff, 561px 1560px #fff, 6px 604px #fff, 247px 1051px #fff, 649px 1782px #fff, 1059px 1545px #fff, 1240px 800px #fff, 1035px 1933px #fff, 1005px 841px #fff, 1135px 1445px #fff, 1091px 1815px #fff, 423px 1198px #fff, 567px 1768px #fff, 1147px 238px #fff, 156px 126px #fff, 1082px 641px #fff, 522px 600px #fff, 187px 735px #fff, 1727px 237px #fff, 1546px 31px #fff, 1447px 182px #fff, 1906px 1300px #fff, 1313px 1220px #fff, 1365px 560px #fff, 1821px 1424px #fff, 678px 459px #fff, 1017px 1948px #fff, 2000px 1178px #fff, 601px 1368px #fff, 1720px 514px #fff, 156px 579px #fff, 527px 1994px #fff, 1540px 1719px #fff, 287px 1746px #fff, 1999px 704px #fff, 822px 179px #fff, 171px 1747px #fff, 725px 250px #fff, 149px 1486px #fff, 883px 1769px #fff, 1959px 1244px #fff;
  -webkit-animation: animStar 80s linear infinite;
          animation: animStar 80s linear infinite;
}
#star::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 122px 389px #c00, 891px 83px #fff, 1005px 1066px #fff, 1256px 43px #fff, 1165px 1728px #fff, 1189px 1872px #fff, 1049px 143px #fff, 1534px 1976px #fff, 1608px 1479px #fff, 618px 434px #fff, 315px 423px #fff, 1141px 83px #fff, 1397px 3px #fff, 1668px 1270px #fff, 1990px 833px #fff, 1430px 577px #fff, 832px 1917px #fff, 99px 1448px #fff, 32px 1325px #fff, 980px 805px #fff, 20px 828px #fff, 1962px 943px #fff, 1996px 897px #fff, 1874px 1889px #fff, 1820px 313px #fff, 1255px 1080px #fff, 1064px 72px #fff, 1816px 1671px #fff, 11px 1694px #fff, 850px 1348px #fff, 219px 906px #fff, 703px 523px #fff, 96px 521px #fff, 470px 1329px #fff, 1300px 123px #fff, 733px 620px #fff, 590px 46px #fff, 92px 1003px #fff, 948px 1955px #fff, 1410px 541px #fff, 400px 600px #fff, 1624px 1761px #fff, 1708px 1777px #fff, 640px 1624px #fff, 821px 1559px #fff, 1268px 888px #fff, 1493px 1696px #fff, 1726px 1658px #fff, 900px 1635px #fff, 720px 1463px #fff, 598px 1350px #fff, 1286px 1705px #fff, 364px 1462px #fff, 1335px 171px #fff, 1170px 1066px #fff, 590px 1550px #fff, 704px 1539px #fff, 1921px 230px #fff, 1466px 128px #fff, 842px 812px #fff, 885px 801px #fff, 471px 1220px #fff, 1828px 265px #fff, 1195px 61px #fff, 1563px 81px #fff, 1110px 1984px #fff, 603px 1370px #fff, 426px 1953px #fff, 578px 1488px #fff, 962px 1362px #fff, 512px 1972px #fff, 36px 1994px #fff, 425px 1515px #fff, 1716px 1189px #fff, 1401px 1160px #fff, 1706px 268px #fff, 242px 1534px #fff, 1140px 1920px #fff, 842px 1521px #fff, 283px 1734px #fff, 589px 1251px #fff, 824px 1148px #fff, 1626px 122px #fff, 1735px 948px #fff, 477px 265px #fff, 1534px 1000px #fff, 1688px 586px #fff, 872px 394px #fff, 682px 42px #fff, 1734px 623px #fff, 1316px 1041px #fff, 32px 1653px #fff, 1347px 843px #fff, 37px 1831px #fff, 422px 1895px #fff, 945px 1656px #fff, 1852px 1894px #fff, 1245px 334px #fff, 1829px 1400px #fff, 807px 1090px #fff, 1003px 460px #fff, 584px 1582px #fff, 669px 546px #fff, 1059px 528px #fff, 89px 143px #fff, 431px 260px #fff, 97px 1926px #fff, 491px 703px #fff, 820px 1827px #fff, 1712px 897px #fff, 1610px 1439px #fff, 1599px 1849px #fff, 291px 914px #fff, 1394px 1718px #fff, 444px 56px #fff, 925px 37px #fff, 484px 1491px #fff, 1881px 1694px #fff, 430px 1818px #fff, 272px 871px #fff, 1982px 484px #fff, 632px 1388px #fff, 1779px 1911px #fff, 1813px 1592px #fff, 644px 1598px #fff, 27px 1520px #fff, 1066px 1925px #fff, 1264px 1320px #fff, 36px 1449px #fff, 1712px 1815px #fff, 256px 1164px #fff, 728px 143px #fff, 637px 788px #fff, 703px 1696px #fff, 808px 1506px #fff, 1952px 66px #fff, 1686px 984px #fff, 630px 389px #fff, 3px 905px #fff, 1563px 110px #fff, 1017px 930px #fff, 1863px 468px #fff, 1475px 436px #fff, 1127px 1597px #fff, 394px 386px #fff, 1198px 490px #fff, 1222px 1499px #fff, 1522px 266px #fff, 1073px 1781px #fff, 1293px 1387px #fff, 849px 1341px #fff, 1435px 1600px #fff, 286px 1578px #fff, 569px 1968px #fff, 779px 1127px #fff, 1669px 1335px #fff, 575px 1263px #fff, 1536px 1166px #fff, 1033px 1487px #fff, 1165px 704px #fff, 834px 1310px #fff, 741px 1908px #fff, 441px 878px #fff, 1199px 147px #fff, 1492px 104px #fff, 55px 583px #fff, 1830px 1259px #fff, 1705px 1444px #fff, 790px 1719px #fff, 776px 1357px #fff, 1873px 1460px #fff, 1015px 1649px #fff, 1126px 1789px #fff, 1986px 1680px #fff, 1946px 677px #fff, 1977px 1351px #fff, 803px 1156px #fff, 668px 1397px #fff, 999px 609px #fff, 853px 1241px #fff, 224px 329px #fff, 1950px 385px #fff, 1803px 1020px #fff, 277px 1201px #fff, 428px 1782px #fff, 746px 764px #fff, 406px 764px #fff, 37px 105px #fff, 169px 1102px #fff, 557px 251px #fff, 1517px 490px #fff, 1468px 788px #fff, 173px 358px #fff, 484px 800px #fff, 1216px 409px #fff, 1635px 1940px #fff, 1514px 1066px #fff, 371px 1658px #fff, 1520px 82px #fff, 692px 370px #fff, 569px 541px #fff, 1759px 795px #fff, 1919px 699px #fff, 1271px 1328px #fff, 1682px 857px #fff, 1478px 1217px #fff, 282px 1548px #fff, 163px 1248px #fff, 1478px 272px #fff, 87px 1878px #fff, 1049px 1048px #fff, 403px 1193px #fff, 589px 1178px #fff, 1887px 1984px #fff, 1763px 734px #fff, 1028px 1743px #fff, 1663px 1145px #fff, 380px 1867px #fff, 839px 1817px #fff, 1370px 1766px #fff, 495px 627px #fff, 477px 421px #fff, 1374px 43px #fff, 133px 351px #fff, 1167px 589px #fff, 77px 1894px #fff, 977px 1102px #fff, 745px 143px #fff, 460px 175px #fff, 775px 1177px #fff, 304px 1302px #fff, 284px 19px #fff, 1546px 1422px #fff, 1355px 1980px #fff, 387px 1279px #fff, 1077px 1550px #fff, 1696px 185px #fff, 1958px 1393px #fff, 71px 1751px #fff, 4px 1016px #fff, 997px 1204px #fff, 762px 441px #fff, 1766px 1091px #fff, 200px 1578px #fff, 675px 1455px #fff, 367px 1899px #fff, 1172px 1398px #fff, 1858px 1149px #fff, 709px 595px #fff, 1304px 1996px #fff, 970px 798px #fff, 1342px 1587px #fff, 1578px 11px #fff, 701px 1490px #fff, 1795px 302px #fff, 1035px 959px #fff, 443px 32px #fff, 1027px 308px #fff, 1736px 634px #fff, 1152px 940px #fff, 18px 1957px #fff, 1289px 1727px #fff, 1235px 1799px #fff, 848px 657px #fff, 1718px 1909px #fff, 1787px 1689px #fff, 1533px 828px #fff, 429px 1282px #fff, 1675px 1543px #fff, 1061px 1186px #fff, 1412px 604px #fff, 1644px 1967px #fff, 1124px 942px #fff, 736px 764px #fff, 78px 263px #fff, 1352px 1462px #fff, 1465px 676px #fff, 49px 602px #fff, 178px 1997px #fff, 869px 1501px #fff, 1245px 1831px #fff, 574px 44px #fff, 789px 1130px #fff, 1260px 1459px #fff, 1531px 1984px #fff, 781px 1294px #fff, 748px 854px #fff, 132px 1807px #fff, 1019px 752px #fff, 864px 1281px #fff, 1054px 936px #fff, 1866px 715px #fff, 1053px 644px #fff, 721px 94px #fff, 875px 1059px #fff, 1370px 333px #fff, 523px 823px #fff, 1799px 1762px #fff, 1145px 795px #fff, 480px 1192px #fff, 1346px 1196px #fff, 384px 534px #fff, 391px 920px #fff, 1360px 1005px #fff, 1556px 1327px #fff, 1024px 405px #fff, 1802px 1330px #fff, 66px 633px #fff, 77px 1091px #fff, 1001px 214px #fff, 541px 57px #fff, 132px 1186px #fff, 840px 319px #fff, 978px 606px #fff, 599px 1546px #fff, 774px 1432px #fff, 1534px 1774px #fff, 322px 1940px #fff, 1557px 620px #fff, 1409px 731px #fff, 7px 581px #fff, 1659px 367px #fff, 684px 211px #fff, 368px 1512px #fff, 356px 836px #fff, 911px 492px #fff, 1936px 1541px #fff, 1762px 827px #fff, 941px 269px #fff, 391px 570px #fff, 1387px 1110px #fff, 1444px 1181px #fff, 771px 1311px #fff, 1255px 1313px #fff, 1019px 118px #fff, 304px 610px #fff, 746px 1684px #fff, 1933px 1264px #fff, 939px 966px #fff, 538px 1913px #fff, 1165px 887px #fff, 1873px 876px #fff, 781px 1325px #fff, 793px 937px #fff, 1723px 291px #fff, 588px 926px #fff, 120px 594px #fff, 479px 1123px #fff, 867px 124px #fff, 1220px 1756px #fff, 819px 587px #fff, 159px 1584px #fff, 268px 407px #fff, 1909px 1802px #fff, 790px 1298px #fff, 1407px 1766px #fff, 1635px 77px #fff, 1801px 252px #fff, 1397px 1715px #fff, 1100px 792px #fff, 632px 1247px #fff, 476px 1160px #fff, 198px 1316px #fff, 666px 590px #fff, 171px 1796px #fff, 968px 649px #fff, 641px 809px #fff, 1925px 1518px #fff, 1306px 1646px #fff, 612px 1823px #fff, 928px 598px #fff, 28px 311px #fff, 808px 1292px #fff, 1358px 85px #fff, 1651px 809px #fff, 1053px 884px #fff, 1289px 1392px #fff, 745px 333px #fff, 822px 155px #fff, 1595px 382px #fff, 229px 308px #fff, 761px 46px #fff, 1820px 387px #fff, 1330px 1635px #fff, 605px 1754px #fff, 1104px 1170px #fff, 1600px 1314px #fff, 1766px 1924px #fff, 859px 2000px #fff, 47px 502px #fff, 1178px 218px #fff, 386px 664px #fff, 254px 875px #fff, 322px 641px #fff, 1608px 1578px #fff, 631px 416px #fff, 38px 1485px #fff, 999px 1390px #fff, 1957px 378px #fff, 1983px 885px #fff, 1098px 222px #fff, 1367px 124px #fff, 1370px 773px #fff, 169px 1131px #fff, 983px 973px #fff, 258px 547px #fff, 1540px 35px #fff, 1582px 1301px #fff, 93px 1625px #fff, 567px 503px #fff, 1523px 1102px #fff, 1992px 394px #fff, 579px 669px #fff, 1466px 537px #fff, 1202px 1353px #fff, 67px 1018px #fff, 201px 1107px #fff, 240px 631px #fff, 1557px 239px #fff, 1535px 574px #fff, 1551px 965px #fff, 1877px 1387px #fff, 1536px 1082px #fff, 1796px 1012px #fff, 1686px 142px #fff, 1567px 937px #fff, 280px 1775px #fff, 170px 1838px #fff, 59px 700px #fff, 909px 670px #fff, 1919px 623px #fff, 564px 1046px #fff, 837px 1430px #fff, 1997px 1769px #fff, 475px 430px #fff, 1563px 311px #fff, 256px 1054px #fff, 1440px 1644px #fff, 1957px 1917px #fff, 740px 1238px #fff, 378px 1655px #fff, 1112px 1396px #fff, 500px 785px #fff, 805px 379px #fff, 495px 1105px #fff, 882px 1448px #fff, 332px 1057px #fff, 614px 102px #fff, 192px 436px #fff, 1215px 1164px #fff, 378px 1388px #fff, 426px 545px #fff, 114px 1488px #fff, 791px 428px #fff, 706px 677px #fff, 862px 355px #fff, 1045px 1060px #fff, 1364px 964px #fff, 1204px 202px #fff, 1073px 1759px #fff, 346px 1178px #fff, 972px 525px #fff, 319px 1208px #fff, 1535px 1603px #fff, 1185px 1129px #fff, 1282px 265px #fff, 152px 1010px #fff, 660px 1871px #fff, 266px 1199px #fff, 367px 1083px #fff, 335px 1976px #fff, 1833px 924px #fff, 1026px 340px #fff, 220px 28px #fff, 330px 101px #fff, 177px 598px #fff, 1699px 1883px #fff, 1169px 666px #fff, 1471px 92px #fff, 369px 1220px #fff, 1464px 31px #fff, 944px 1339px #fff, 129px 57px #fff, 711px 1563px #fff, 734px 1295px #fff, 376px 150px #fff, 97px 1745px #fff, 1940px 939px #fff, 7px 1495px #fff, 310px 267px #fff, 1252px 1719px #fff, 1478px 1293px #fff, 1894px 286px #fff, 906px 1745px #fff, 474px 1591px #fff, 495px 1876px #fff, 802px 1684px #fff, 162px 1667px #fff, 344px 551px #fff, 990px 1571px #fff, 1003px 1715px #fff, 1259px 874px #fff, 1115px 571px #fff, 1597px 999px #fff, 1772px 1280px #fff, 1035px 1529px #fff, 792px 238px #fff, 1701px 769px #fff, 665px 993px #fff, 457px 772px #fff, 597px 1550px #fff, 408px 59px #fff, 1086px 1672px #fff, 545px 1704px #fff, 956px 1314px #fff, 1809px 1154px #fff, 1972px 769px #fff, 1841px 501px #fff, 1479px 395px #fff, 1880px 1827px #fff, 808px 1708px #fff, 1714px 1166px #fff, 1765px 1139px #fff, 533px 115px #fff, 590px 1903px #fff, 384px 1311px #fff, 1389px 1702px #fff, 1774px 1322px #fff, 1615px 1820px #fff, 44px 420px #fff, 349px 992px #fff, 1913px 1576px #fff, 1121px 1669px #fff, 1340px 1327px #fff, 1648px 1236px #fff, 240px 1917px #fff, 1260px 1672px #fff, 604px 1192px #fff, 162px 1579px #fff, 1164px 1652px #fff, 1235px 1509px #fff, 161px 100px #fff, 1645px 1587px #fff, 1757px 57px #fff, 405px 1055px #fff, 343px 442px #fff, 651px 930px #fff, 1923px 1957px #fff, 1164px 753px #fff, 795px 252px #fff, 1013px 923px #fff, 1835px 387px #fff, 1574px 1122px #fff, 1465px 1052px #fff, 1658px 1044px #fff, 990px 1708px #fff, 847px 433px #fff, 1966px 743px #fff, 1331px 817px #fff, 367px 988px #fff, 561px 1560px #fff, 6px 604px #fff, 247px 1051px #fff, 649px 1782px #fff, 1059px 1545px #fff, 1240px 800px #fff, 1035px 1933px #fff, 1005px 841px #fff, 1135px 1445px #fff, 1091px 1815px #fff, 423px 1198px #fff, 567px 1768px #fff, 1147px 238px #fff, 156px 126px #fff, 1082px 641px #fff, 522px 600px #fff, 187px 735px #fff, 1727px 237px #fff, 1546px 31px #fff, 1447px 182px #fff, 1906px 1300px #fff, 1313px 1220px #fff, 1365px 560px #fff, 1821px 1424px #fff, 678px 459px #fff, 1017px 1948px #fff, 2000px 1178px #fff, 601px 1368px #fff, 1720px 514px #fff, 156px 579px #fff, 527px 1994px #fff, 1540px 1719px #fff, 287px 1746px #fff, 1999px 704px #fff, 822px 179px #fff, 171px 1747px #fff, 725px 250px #fff, 149px 1486px #fff, 883px 1769px #fff, 1959px 1244px #fff;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
.accordion {
  max-width: 560px;
  margin: 0 auto 100px;
  border-top: 1px solid #d9e5e8;
}
.accordion li {
  border-bottom: 1px solid #d9e5e8;
  position: relative;
}
.accordion li p {
  display: none;
  padding: 10px 25px 30px;
  color: #6b97a4;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  line-height: 3;
  font-size: 14px;
  font-size: 0.875rem;
  text-indent: 15px;
  user-select: none;
}
.accordion a:after {
  width: 8px;
  height: 8px;
  border-right: 1px solid #4a6e78;
  border-bottom: 1px solid #4a6e78;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
  padding: 10px;
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
