@-webkit-keyframes el_r19M572mfT7_Animation {
    24.67% {
        opacity: 0;
    }

    43.33% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes el_r19M572mfT7_Animation {
    24.67% {
        opacity: 0;
    }

    43.33% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes el_HkKz5Q2mzaQ_Animation {
    32% {
        opacity: 0;
    }

    51.33% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes el_HkKz5Q2mzaQ_Animation {
    32% {
        opacity: 0;
    }

    51.33% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes el_HyOz5m3Xza7_Animation {
    16.67% {
        opacity: 0;
    }

    32.67% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes el_HyOz5m3Xza7_Animation {
    16.67% {
        opacity: 0;
    }

    32.67% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes el_ryhG9mnmfpQ_Animation {
    50% {
        opacity: 0;
    }

    78% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes el_ryhG9mnmfpQ_Animation {
    50% {
        opacity: 0;
    }

    78% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes el_Skpf5XhQGT7_Animation {
    43.33% {
        opacity: 0;
    }

    70.67% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes el_Skpf5XhQGT7_Animation {
    43.33% {
        opacity: 0;
    }

    70.67% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes el_H1sfqQ37GTm_Animation {
    33.33% {
        opacity: 0;
    }

    62% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes el_H1sfqQ37GTm_Animation {
    33.33% {
        opacity: 0;
    }

    62% {
        opacity: 0.5;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

#el_S1R9QhQz67 * {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_BJlgqQnXzTQ {
    fill: #28A5C6;
    visibility: hidden;
}

#el_Hk-ecQnQfa7 {
    fill: #FFFFFF;
}

#el_SkGg9QnQM6Q {
    fill: #EAEAEA;
}

#el_SJQxqm2XzpX {
    fill: #FFFFFF;
    -webkit-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 7.7858, 68.9793);
    transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 7.7858, 68.9793);
}

#el_HyEgqQ3Qz6X {
    fill: #EAEAEA;
}

#el_ryre57nQGT7 {
    fill: #074370;
}

#el_S1Ug9mn7zTX {
    fill: #FFFFFF;
}

#el_r1DlcXhQGam {
    fill: #3AD0F9;
}

#el_rkuec72Qz6m {
    fill: #074370;
}

#el_H1Keqm37zpm {
    fill: #074370;
}

#el_Hycg97n7fp7 {
    fill: #074370;
}

#el_B1ix5Xn7z67 {
    fill: #3AD0F9;
}

#el_Sknlcm37f6X {
    fill: #074370;
}

#el_r1alcQnQf6m {
    fill: #074370;
}

#el_rkRl5Qn7zam {
    fill: #074370;
}

#el_BkJbcmhmz67 {
    fill: #074370;
}

#el_HkgW9XhmMaX {
    fill: #074370;
}

#el_ByZW9mn7f6X {
    fill: #EAEAEA;
}

#el_Skz-97hQz6Q {
    fill: #074370;
}

#el_rJmb9Q2QGp7 {
    fill: #074370;
}

#el_ryEZqQh7fTm {
    fill: #074370;
}

#el_rJBbqXh7zaX {
    fill: #074370;
}

#el_B1L-5mnXzpX {
    fill: #074370;
}

#el_rkwW97hXMa7 {
    fill: #074370;
}

#el_rJOW5QnQzT7 {
    fill: #FFFFFF;
}

#el_HyFWcXnXzaX {
    fill: #FFFFFF;
}

#el_r1qWcmhXMTQ {
    fill: #FFFFFF;
}

#el_Bks-cX3mMa7 {
    fill: #FFFFFF;
}

#el_B12W5Q2QzT7 {
    fill: #074370;
}

#el_HyT-q7hXGpQ {
    fill: #FFFFFF;
}

#el_rJRbcm2mf67 {
    fill: #FFFFFF;
}

#el_ryyf5X2XG6Q {
    fill: #FFFFFF;
}

#el_HJef9QhXz6Q {
    fill: #FFFFFF;
}

#el_H1WfcQnmfTm {
    opacity: 0.5;
    fill: #0C508E;
}

#el_ryMGcQ3QMam {
    fill: #FFFFFF;
}

#el_rJXf9m37f6Q {
    opacity: 0.5;
    fill: #0C508E;
}

#el_BJVzcQ27fp7 {
    fill: #FBD000;
}

#el_HkSM5Xh7zTQ {
    fill: #D4D6D6;
}

#el_r1LM9m27f6Q {
    fill: #074370;
}

#el_SkDG9QnXG6m {
    fill: #074370;
}

#el_HyOz5m3Xza7 {
    opacity: 0.5;
    fill: #FFFFFF;
    -webkit-animation-name: el_HyOz5m3Xza7_Animation;
    animation-name: el_HyOz5m3Xza7_Animation;
}

#el_HkKz5Q2mzaQ {
    opacity: 0.5;
    fill: #FFFFFF;
    -webkit-animation-name: el_HkKz5Q2mzaQ_Animation;
    animation-name: el_HkKz5Q2mzaQ_Animation;
}

#el_r19M572mfT7 {
    fill: #FFFFFF;
    -webkit-animation-name: el_r19M572mfT7_Animation;
    animation-name: el_r19M572mfT7_Animation;
}

#el_H1sfqQ37GTm {
    opacity: 0;
    fill: #FFFFFF;
    -webkit-animation-name: el_H1sfqQ37GTm_Animation;
    animation-name: el_H1sfqQ37GTm_Animation;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_ryhG9mnmfpQ {
    fill: #FFFFFF;
    -webkit-animation-name: el_ryhG9mnmfpQ_Animation;
    animation-name: el_ryhG9mnmfpQ_Animation;
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_Skpf5XhQGT7 {
    opacity: 0;
    fill: #FFFFFF;
    -webkit-animation-name: el_Skpf5XhQGT7_Animation;
    animation-name: el_Skpf5XhQGT7_Animation;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}