
// Body

$heroHeight: 800px;
$white:rgb(255, 255, 255);
$black: rgba(255, 255, 255, 0.5);
$red: rgb(220, 53, 69);
$stars: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(107,107,107,1) 47%, rgba(5,5,5,1) 78%, rgba(5,5,5,1) 100%);
$shade: rgba(25, 41, 48, 0.1);
$ct: rgb(37, 170, 255);

// Typography
